/**
 * Common colors from our presentation templates:
 *  - orange:     rgb(202, 95, 20)
 *  - teal:       rgb(0, 122, 151)
 *  - gold:       rgb(255, 199, 44)
 *  - green:      rgb(164, 210, 51)
 *  - blue:       rgb(12, 183, 225)
 *  - purple:     rgb(128, 49, 167)
 */


/**
 * Common styles
 */
html {
  font: normal 150% / 1.65 sans-serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(128, 49, 167);
  background: radial-gradient(circle farthest-corner at center bottom, rgb(128, 49, 167) 20%, rgb(0, 0, 0));
  color: rgb(238, 238, 238);
}

address {
  font-style: unset;
}

img.icon {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: middle;
}

.hidden {
  display: none;
}

footer > img.academy-logo {
  width: 20%;
  height: auto;
  padding-top: 2em;
}

.step {
  width: 960px;
  opacity: 0.02;
  transition: opacity 1s;
}

.step.active {
  opacity: 1.0;
}

body.impress-on-overview .step {
  opacity: 1.0;
}

/**
 * Text styles
 */
h1, h2, h3, h4, h5, h6 {
  color: rgb(255, 255, 255);
  white-space: nowrap;
  font-weight: 300;
}

a {
  color: rgb(164, 210, 51);
}

.is-highlight1 {
  color: rgb(255, 199, 44);
}

.is-highlight2 {
  color: rgb(12, 183, 225);
}

.is-highlight3 {
  color: rgb(164, 210, 51);
}

.is-lightweight {
  font-weight: 300;
}

.is-right {
  text-align: right;
}

.is-center {
  text-align: center;
}

/* 
 * Fallback message styles 
 */
section.fallback-message {
  display: none;
}

body.impress-not-supported > section.fallback-message {
  display: block;
}

/**
 * Specific slide styles
 */

#welcome-to-dsa-live > h1 {
  position: relative;
}

#event-location {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  transform: rotateZ(-5deg);
}

#relational-db-background > .tile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#relational-db-background > .tile-container > .tile {
  flex-basis: 40%;
  text-align: center;
}

#relational-db-background > .tile-container > .tile > img {
  width: 100%;
  height: auto;
}