/**
 * Common colors from our presentation templates:
 *  - orange:     rgb(202, 95, 20)
 *  - teal:       rgb(0, 122, 151)
 *  - gold:       rgb(255, 199, 44)
 *  - green:      rgb(164, 210, 51)
 *  - blue:       rgb(12, 183, 225)
 *  - purple:     rgb(128, 49, 167)
 */


/**
 * Common styles
 */
html {
  font: normal 150% / 1.65 sans-serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(128, 49, 167);
  background: radial-gradient(circle farthest-corner at center bottom, rgb(128, 49, 167) 20%, rgb(0, 0, 0));
  color: rgb(238, 238, 238);
}

address {
  font-style: unset;
}

img.icon {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: middle;
}

.hidden {
  display: none;
}

footer > img.academy-logo {
  width: 20%;
  height: auto;
  padding-top: 2em;
}

.step {
  width: 960px;
  opacity: 0.02;
  transition: opacity 1s;
}

.step.active {
  opacity: 1.0;
}

body.impress-on-overview .step {
  opacity: 1.0;
}

.step-speaker-notes {
  display: none;
  position: fixed;
  bottom: -4rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

body.show-speaker-notes .step.active .step-speaker-notes {
  display: block;
}

/**
 * Text styles
 */
h1, h2, h3, h4, h5, h6,
.typl8-alpha, .typl8-beta, .typl8-gamma, .typl8-delta, .typl8-epsilon, .typl8-zeta {
  color: rgb(255, 255, 255);
  font-weight: 300;
}

a {
  color: rgb(164, 210, 51);
}

.is-highlight1 {
  color: rgb(255, 199, 44);
}

.is-highlight2 {
  color: rgb(12, 183, 225);
}

.is-highlight3 {
  color: rgb(164, 210, 51);
}

.is-lightweight {
  font-weight: 300;
}

.is-right {
  text-align: right;
}

.is-center {
  text-align: center;
}

.call-to-action {
  text-align: center;
}

.call-to-action > strong {
  color: rgb(255, 199, 44);
}

/**
 * Table styles
 */
table {
  border: 3px solid #222;
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 0.25rem 0.5rem;
  color: #222;
  text-align: left;
}

table th {
  background-color: rgb(255, 199, 44);
  border-bottom: 3px solid #222;
}

table td {
  background-color: #fff;
}

/* 
 * Fallback message styles 
 */
section.fallback-message {
  display: none;
}

body.impress-not-supported > section.fallback-message {
  display: block;
}

/**
 * Controls
 */
#controls {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#controls img {
  width: auto;
  height: 2rem;
  opacity: 0.2;
  cursor: pointer;
}

#controls img:hover {
  opacity: 1.0;
}

body.show-speaker-notes #toggle-notes {
  opacity: 0.9;
}

/**
 * Welcome slide
 */

#welcome-to-dsa-live > h1 {
  position: relative;
}

#event-location {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  transform: rotateZ(-5deg);
}

/**
 * Relational history slide
 */
#relational-db-background > .tile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#relational-db-background > .tile-container > .tile {
  flex-basis: 40%;
  text-align: center;
}

#relational-db-background > .tile-container > .tile > img {
  width: 100%;
  height: auto;
}

/**
 * Relevant technology slide
 */
#relevant-technology > table th:nth-child(-n+2) {
  width: 15%;
}

#relevant-technology > table td.trend-up:before {
  color: rgb(0, 255, 0);
  content: '\2191\2002';
  font-weight: bold;
}

#relevant-technology > table td.trend-down:before {
  color: rgb(255, 0, 0);
  content: '\2193\2002';
  font-weight: bold;
}

#relevant-technology.active > table td {
  opacity: 0.3;
  transition: opacity 1s linear 1s;
}

#relevant-technology > table tr.is-highlighted > td {
  border-top: 3px solid #222;
  border-bottom: 3px solid #222;
  font-weight: bold;
  opacity: 1.0;
  transition: none;
}

/**
 * Make more money slide
 */
#more-money > ul {
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

#more-money > ul > li {
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

#more-money.active > ul > li {
  transition: opacity 1s linear 1s;
  opacity: 0.3;
}

#more-money > ul > li > span {
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
  padding-right: 0.25em;
}

#more-money > ul > li > span.key { 
  width: 35%;
}

#more-money > ul > li > span.value {
  background-color: #fff;
  color: #222;
}

#more-money > ul > li > span.value.tier-1 {
  width: 65%;
}

#more-money > ul > li > span.value.tier-2 {
  width: 60%;
}

#more-money > ul > li > span.value.tier-3 {
  width: 55%;
}

#more-money > ul > li.is-highlighted {
  font-weight: bold;
  opacity: 1.0;
}

#more-money > ul > li.is-highlighted > span.value {
  background-color: rgb(255, 199, 44);
}

/**
 * Hands-on experience with DSE
 */
#hands-on-with-dse > pre {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5em;
  border-radius: 0.5em;
}